(
  format_version: "0.1",
  properties: (
    name: "tinyrobot_new.site",
  ),
  levels: {
    1: (
      properties: (
        name: "L1",
        elevation: 0.0,
      ),
      anchors: {
        7: Translate2D((-0.055743217, -4.7199554)),
      },
    ),
  },
  navigation: (
    guided: (
      graphs: {},
      ranking: [],
      lanes: {},
      locations: {
        8: (anchor: 7, tags: [], name: "some_waypoint", graphs: All),
      },
    ),
  ),
  scenarios: {
    4: (
      name: "Default Scenario",
      scenario: (
        parent_scenario: None,
        added_instances: [(3, (trans: (-2.8500113, -1.5148449, 0.0), rot: quat((0.0, 0.0, 0.0, 1.0))))],
        removed_instances: [],
        moved_instances: [],
      ),
      marker: (),
    ),
  },
  model_descriptions: {
    6: (
      name: "TinyRobot",
      source: (Search("Luca/TinyRobot")),
      optional_properties: ([
        DifferentialDrive((translational_speed: 0.5, rotational_speed: 1.0, bidirectional: false, collision_radius: 0.5, rotation_center_offset: (0.0, 0.0))),
        MobileRobotMarker(()),
      ]),
    ),
  },
  model_instances: {
    3: (
      name: "tinyRobot1",
      pose: (
        trans: (-2.8500113, -1.5148449, 0.0),
        rot: quat((0.0, 0.0, 0.0, 1.0)),
      ),
      parent: Some(1),
      description: Some(6),
      optional_properties: ([
        Tasks(([GoToPlace((location: Some(8)))])),
      ]),
    ),
  },
)