[package]
name = "rmf_site_editor"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]
name = "librmf_site_editor"

[[bin]]
path = "src/main.rs"
name = "rmf_site_editor"

[dependencies]
bevy_egui = "0.19"
bevy_mod_picking = "0.11"
bevy_mod_raycast = "0.7"
bevy_mod_outline = "0.3.3"
bevy_infinite_grid = "0.6"
bevy_stl = "0.7.0"
bevy_obj = { git = "https://github.com/luca-della-vedova/bevy_obj", branch = "luca/scene_0.9", features = ["scene"]}
bevy_rapier3d = "0.20.0"
crossbeam-channel = "0.5.0"
smallvec = "*"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8.23"
yaserde = "0.7.0"
yaserde_derive = "0.7.0"
serde_json = "1.0"
wasm-bindgen = "0.2"
web-sys = { version = "0.3.56", features = ["console"] }
futures-lite = "1.12.0"
bevy = "0.9"
dirs = "4.0"
thread_local = "*"
lyon = "1"
thiserror = "*"
rmf_site_format = { path = "../rmf_site_format", features = ["bevy"] }
itertools = "*"
bitfield = "*"
rfd = "0.11"
urdf-rs = { git = "https://github.com/openrr/urdf-rs", rev = "c62dd92" }

# only enable the 'dynamic' feature if we're not building for web or windows
[target.'cfg(all(not(target_arch = "wasm32"), not(target_os = "windows")))'.dependencies]
bevy = { version = "0.9", features = ["dynamic", "jpeg", "tga"] }
surf = { version = "2.3" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
clap = { version = "4.0.10", features = ["color", "derive", "help", "usage", "suggestions"] }

# windows doesnt work well with dynamic feature yet
[target.'cfg(target_os = "windows")'.dependencies]
bevy = { version = "0.9", features = ["jpeg", "tga"] }
surf = { version = "2.3" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
surf = { version = "2.3", default-features = false, features = ["wasm-client", "encoding"] }
