[package]
name = "rmf_site_editor"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]
name = "librmf_site_editor"

[[bin]]
path = "src/main.rs"
name = "rmf_site_editor"

[[example]]
name = "extending_site_editor"
path = "examples/extending_menu.rs"

[dependencies]
bevy_egui = "0.19"
bevy_mod_picking = "0.11"
bevy_mod_raycast = "0.7"
# Once we update to bevy 0.11 we can merge the default in as this has been fixed
bevy_mod_outline = { git = "https://github.com/arjo129/bevy_mod_outline.git", branch= "09_compatibility"}
bevy_infinite_grid = "0.6"
bevy_polyline = "0.4"
bevy_stl = "0.7.0"
bevy_obj = { git = "https://github.com/luca-della-vedova/bevy_obj", branch = "luca/scene_0.9", features = ["scene"]}
bevy_rapier3d = "0.20.0"
smallvec = "*"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8.23"
serde_json = "1.0"
# wasm-bindgen 0.2.85 introduces a compile error in stdweb
wasm-bindgen = "=0.2.84"
web-sys = { version = "0.3.56", features = ["console"] }
futures-lite = "1.12.0"
bevy = "0.9"
bevy_utils = "0.9"
dirs = "4.0"
thread_local = "*"
lyon = "1"
thiserror = "*"
rmf_site_format = { path = "../rmf_site_format", features = ["bevy"] }
itertools = "*"
bitfield = "*"
crossbeam-channel = "0.5"
tracing = "0.1.37"
tracing-subscriber = "0.3.1"
rfd = "0.11"
urdf-rs = "0.7"
utm = "0.1.6"
pollster = "0.3.0"
futures-intrusive = "0.5.0"
wgpu="0.14.2"
image = "0.24.6"
rand = "0.8.5"
bevy_points = "0.1.3"
sdformat_rs = { git = "https://github.com/open-rmf/sdf_rust_experimental", rev = "a5daef0"}
pathdiff = "*"

# only enable the 'dynamic' feature if we're not building for web or windows
[target.'cfg(all(not(target_arch = "wasm32"), not(target_os = "windows")))'.dependencies]
bevy = { version = "0.9", features = ["dynamic", "jpeg", "tga"] }
surf = { version = "2.3" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
clap = { version = "4.0.10", features = ["color", "derive", "help", "usage", "suggestions"] }

# windows doesnt work well with dynamic feature yet
[target.'cfg(target_os = "windows")'.dependencies]
bevy = { version = "0.9", features = ["jpeg", "tga"] }
surf = { version = "2.3" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
surf = { version = "2.3", default-features = false, features = ["wasm-client", "encoding"] }
