[package]
name = "rmf_site_editor"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]
name = "librmf_site_editor"

[[bin]]
path = "src/main.rs"
name = "rmf_site_editor"

[dependencies]
bevy_egui = "0.19"
bevy_mod_picking = "0.10"
bevy_mod_raycast = "0.7"
bevy_mod_outline = "0.3.2"
bevy_infinite_grid = "0.6"
smallvec = "*"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8.23"
serde_json = "1.0"
wasm-bindgen = "0.2"
web-sys = { version = "0.3.56", features = ["console"] }
futures-lite = "1.12.0"
bevy = "0.9"
dirs = "4.0"
thread_local = "*"
lyon = "1"
thiserror = "*"
rmf_site_format = { path = "../rmf_site_format", features = ["bevy"] }
itertools = "*"
bitfield = "*"

# only enable the 'dynamic' feature if we're not building for web or windows
[target.'cfg(all(not(target_arch = "wasm32"), not(target_os = "windows")))'.dependencies]
bevy = { version = "0.9" }
surf = { version = "2.3" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rfd = "0.8.2"
clap = { version = "4.0.10", features = ["color", "derive", "help", "usage", "suggestions"] }

# windows doesnt work well with dynamic feature yet
[target.'cfg(target_os = "windows")'.dependencies]
bevy = "0.9"
surf = { version = "2.3" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
surf = { version = "2.3", default-features = false, features = ["wasm-client", "encoding"] }
