(
  format_version: "0.1",
  properties: (
    name: "new_site",
  ),
  levels: {
    1: (
      properties: (
        name: "<unnamed level>",
        elevation: 0.0,
      ),
      anchors: {},
    ),
  },
)