name: ci_linux

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: deps
      run: |
        sudo apt-get update
        sudo apt-get install libasound2-dev libudev-dev libgtk-3-dev
    - uses: actions/checkout@v3
    - name: Setup toolchain to nightly
      run: rustup default nightly
    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test
