name: style

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  style:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: rustfmt
      run: |
        rustup component add rustfmt

    - name: style
      run: rustfmt --check --edition 2024 crates/rmf_site_format/src/lib.rs crates/rmf_site_editor/src/lib.rs crates/rmf_site_editor/src/main.rs

    - name: minimal feature build
      run: cd crates/rmf_site_format && cargo check --no-default-features
